body, html{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
section{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.ct{
  width: 1000px;
  height: 500px;
  overflow: hidden;
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border: 1px solid rgba(77, 77, 77, 0.19);
  position: relative;
  .ct_img, .ct_disc{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
    background: rgba(255,255,255,1);
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(239,240,235,1) 100%);
  }
  .ct_disc{
    width: 50px;
  }

  .ct_disc_contain{
    width: 600px;
    height: 80%;
    top:0;
    bottom:0;
    left: 10%;
    padding: 15px;
    margin: auto;
    position: absolute;
    background: #ffffff;
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  img{
    height: 115%;
  }

  .ct_slider{
    height: 100%;
    width: 8px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
    background-color: #4b4d4f;
    cursor: pointer;
    pointer-events: auto;
    &::after{
      content: '';
      position: absolute;
      top: 50%;
      left: 175%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7.5px 0 7.5px 13px;
      border-color: transparent transparent transparent #4b4d4f;
    }
    &::before{
      content: '';
      position: absolute;
      top: 50%;
      right: 175%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7.5px 13.0px 7.5px 0;
      border-color: transparent #4b4d4f transparent transparent;
    }
  }
}

.ct_footer{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.link_btn{
  margin-left: 10px;
  margin-right: 10px;
	position: relative;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: 0 10px 15px rgba(52, 152, 219,0.37), 0 6px 15px rgba(52, 152, 219,0.23);
  box-shadow: 0 10px 15px rgba(52, 152, 219,0.37), 0 6px 15px rgba(52, 152, 219,0.23);
  background: #2c3e50;
  background: -webkit-linear-gradient(to bottom, #4174a8, #3498db);
  background: linear-gradient(to bottom, #4174a8, #3498db);
  transition: all 100ms ease-in;
  &:hover{
    -webkit-box-shadow: 0 2px 5px rgba(52, 152, 219,0.7), 0 6px 10px rgba(52, 152, 219,0.23);
    box-shadow: 0 2px 5px rgba(52, 152, 219,0.7), 0 6px 10px rgba(52, 152, 219,0.23);

  }
  a {
  font-family: 'Heebo', Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 12px;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	line-height: 24px;
	color: #ffffff;
	text-decoration: none;
  // NOTE:
  text-shadow: 0px 0px 1px #4174a8;
  	&:hover,
  	&:focus,
  	&:active {
  	  text-decoration: none;
    }
  }
}
